@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-image: linear-gradient(to bottom, #1513207e, rgba(255, 255, 255, 0) ), url("http://www.osmais.com/wallpapers/201604/natureza-praia-por-do-sol-wallpaper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;  
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px
}

main{
    width: 100%;
    margin: 0 auto;
}

#entrada {
    display: flex;
    flex-direction: column;
    background-color:  rgba(177, 175, 201, 0.241);
    width: 300px;
    height: 100px;
    margin: 0 auto;
    box-shadow: 3px 3px 16px black;
    justify-content: center;
    align-items: center; 
}

#tipo-data {
    width: 220px;
    height: 30px;
    background-color: rgba(250, 220, 206, 0.631);
    margin-bottom: 5px;
}

#btn-select {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 25px;
}

.countdown-container{
    margin: 15px auto;
    min-width: 200px;
    max-width: 800px;
    height: 200px;
}

.countdown{
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.tempo{
    height: fit-content;
    width: 133px;
    text-align: center;
}

.timer{
    color: white;
    font-size: 35px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.474);
}

.timer-title {
    color: white;
    font-size: 18px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.474);
}

.show{
    display: block;
}

.hide{
    display: none;
}

.modal-container{
    background-color: rgba(43, 46, 46, 0.891);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 250px;
    height: 150px;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal-header{
    display: flex;
    justify-content: space-between;
}

.modal-header h2{
    color: white;
    margin-left: 15px;
    margin-top: 10px;
}

.modal-header p{
    font-size: 25px;
    cursor: pointer;
}

#input-form{
    width: 100%;
}

#inputs-container{
    position: relative;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}

#input-dia{
    width: 50px;
}

#input-ano{
    width: 50px;
}

#btn-container{
    width: fit-content;
    margin: 0 auto;
}

#btn-input{
    margin-top: 15px;
    width: 75px;
}



